
@{
    Layout = "_Layout";
}

<!-- Start Page Title -->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Tiến hành đặt hàng</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li><a href="index-1.html">Trang chủ</a></li>
                <li class="separator">&nbsp;</li>
                <li>Tiến hành đặt hàng</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Start Checkout Content -->
<div class="container padding-top-1x padding-bottom-3x">
    <div class="row">
        <div class="col-lg-1"></div>
        <!-- Start Checkout Review -->
        <div class="col-lg-10">
            <div class="checkout-steps">
                <a href="#">4. Hoàn tất</a>
                <a href="#"><span class="angle"></span>3. Vận chuyển</a>
                <a class="active" href="checkout-review.html"><span class="angle"></span>2. Thông tin đơn hàng</a>
                <a class="completed" href="checkout-address.html"><span class="step-indicator icon-circle-check"></span><span class="angle"></span>1. Thông tin người nhận</a>
            </div>
            <h4>Hãy kiểm tra lại các sản phẩm đã chọn</h4>
            <div class="table-responsive shopping-cart">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th class="text-center">Tổng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CartViewModel i in Model)
                        {
                            <tr>
                                <td>
                                    <div class="product-item">
                                        <a class="product-thumb" href="https://localhost:5001/product/detail/@i.ID">
                                            <img src=@i.Hinh alt="Product">
                                        </a>
                                        <div class="product-info">
                                            <h4 class="product-title"><a href="https://localhost:5001/product/detail/@i.ID">@i.Ten</a></h4>
                                            <span><em>Màu:</em> @i.Mau</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="count-input">
                                        <input id="soluong" type="number" step="1" min="1" max="" name="quantity" value="@i.SoLuong" title="Qty" class="input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric" style="width: 60px">
                                    </div>
                                </td>

                                <td class="text-center text-lg text-medium">@i.GiaBan đ</td>

                                <td class="text-center text-lg text-medium">@i.GiaKM đ</td>

                                @if (i.GiaKM != 0)
                                {
                                    @*soluong = document.getElementById("soluong").value;*@
                                    var gia = i.GiaKM * 1;
                                    <td class="text-center text-lg text-medium">@gia đ</td>
                                }
                                else
                                {
                                    var gia = i.GiaBan * 1;
                                    <td class="text-center text-lg text-medium">@gia đ</td>
                                }
                                <td class="text-center">
                                    <a class="remove-from-cart" href="https://localhost:5001/cart/del/@i.ID" data-toggle="tooltip" title="Remove item"><i class="icon-cross"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="shopping-cart-footer">
                <div class="column"></div>
                <div class="column text-lg">Tổng tiền: <span class="text-medium">$1998.99</span></div>
            </div>
            <div class="checkout-footer margin-top-1x">
                <div class="column hidden-xs-down"><a class="btn btn-outline-secondary" href="https://localhost:5001/checkout/review"><i class="icon-arrow-left"></i>&nbsp;Quay lại</a></div>
                <div class="column"><a class="btn btn-primary" href="https://localhost:5001/checkout/Shipping"><span class="hidden-xs-down">Tiếp tục&nbsp;</span><i class="icon-arrow-right"></i></a></div>
            </div>
        </div>
        <!-- End Checkout Review -->
    </div>
</div>
<!-- End Product Content -->